<!DOCTYPE html>
<html lang="en" xlmns:th="www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Enviar valores por parametro</title>
</head>
<body>
<h1>Enviar valores por parametro</h1>
<ul>
<li><a th:href="@{/params/text(text='Hello hello mi  amigo')}">Parametro saludo</a></li>
<li><a th:href="@{/params/text(text='Tengo una sorpresita para tí')}">Noticia</a></li>
<li><a th:href="@{/params/mix-params(saludo='Hola, ¿cómo estás?', numero=12)}">Saludo más número</a></li>
<li><a th:href="@{/params/mix-params(saludo='Hello, how are you?', numero=12)}">Saludo en inglés</a></li>
</ul>
</body>
</html>